<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/chat/css/chat.css">
    <title>Chat</title>
</head>
<body>
    <div class="content">
        <form method="post" class="form">
            <div class="loading"></div>
            <input name="name" placeholder="Enter Your Name" class="name" required>
            <button class="button">Enter Chat</button>
        </form>
    </div>
</body>
</html>